name: Add to project
on:
  issues:
    types: [opened, transferred]
  pull_request:
    types: [opened]
permissions: {}
jobs:
  add:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/add-to-project@9bfe8798cd4bc4824deec9771ac4dfd86e5adf48
        with:
          project-url: https://github.com/orgs/agent-sh/projects/1
          github-token: ${{ secrets.PROJECT_TOKEN }}
